body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#container {
    height: 640px;
    width: 640px;
    display: grid;
    grid-template-columns: repeat( auto-fill , 40px );    
}

.squares{
    background-color: skyblue;
    border: 1px solid black;
    box-sizing: border-box;
}
